.app-container{
    text-align: center;
    padding: 20px;
}

.contact-card{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
    text-align: center;
}

.contacts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}